/Day1/src/rotations.txt
/Day1/target

/Day2/src/input.txt
/Day2/target

/Day3/src/input.txt
/Day3/target

/Day4/src/input.txt
/Day4/target

/Day5/src/input.txt
/Day5/target

/Day6/src/input.txt
/Day6/target

/Day7/src/input.txt
/Day7/target

/Day9/src/input.txt
/Day9/target
